.container {
    display: flex;
    align-items: flex-start;
  }
  
  .latestContent {
    flex: 3; /* Main content takes up 3/4 of the width */
  }
  
  .sidebar {
    flex: 1; /* Sidebar takes up 1/4 of the width */
    margin-left: 20px; /* Optional: Add spacing between content and sidebar */
  }
  