const SEOConfig = {
  title: 'Home | Gamewitted', // Default title for the website
  description: 'Welcome to Gamewitted, your ultimate destination for immersive gaming and captivating anime content! Dive into a world where pixels meet passion, as we bring you the latest updates, reviews, and insights from the gaming and anime realms.',
  keywords: 'AshGamewitted, Games, Anime',
  openGraph: {
    type: 'Corporation',
    locale: 'en_IE',
    url: 'https://Gamewitted.com/', // Website URL
    site_name: 'Gamewitted', // Website name
    images: [
      {
        url: 'https://fama.b-cdn.net/Yuri/logos/yuri%20logo%202.png',
        width: 1200,
        height: 630,
        alt: 'Gamewitted',
      },
    ],
  },

};

export default SEOConfig;
